body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 15px;
    color:darkseagreen;
}
.title{
    font-family: "Lucinda Console", monaco, monospace;
    color: cadetblue;
}

#main-title {
    font-size: 50px;
}

.sub.title {
    font-size: 30px;
}

.main.title {
    font-size: 40px;
}

img {
    height: 300px;
    width: auto;
}

.description {
    font-weight: bold;
}

