body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 15px;
    text-align: center;
}

#main-page {
    font-family: "Lucinda Console", monaco, monospace;
    font-size: 30px;
    color: cadetblue;
}

img {
    height: 300px;
    width: auto;
}

.left {
    text-align: left;
}